/* 
========================================================================== 
Mobile-first Design Layout for Project 9 Treehouse "Capstone Portfolio"
========================================================================== 
*/

/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    

}

body {
    height: 100vh;

}

.bottom-border {
    border-bottom: 2px solid #cccccc;
    padding-bottom: 0.5rem;
}


/* Grid Stuff */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 60px 70px auto;
    grid-template-areas: "head"
                         "nav"
                         "main"
                         "footer";

}

header {
    grid-area: head;
    background-color: pink;
}

nav {
    grid-area: nav;
    background-color: rosybrown;
}

/* main content */

main {
    grid-area: main;
}

#welcome {
    background-color:aliceblue;

}

#portfolio {
    background-color:aquamarine;
}

#bio {
    background-color:blanchedalmond;
}

#skills {
    background-color:cadetblue;
}

#contact {
    background-color:skyblue;
}

footer {
    grid-area: footer;
    background-color: pink;
}


/* 
========================================================================== 
Media Queries for Tablet and Desktop views
========================================================================== 
*/

/* --------------------------- 1024px+ Wide Screens */

@media screen and (min-width: 1024px){

    .grid-container {
        display: grid;
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 60px 1fr; /*header is 60px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main"
                             "footer footer";

    }

    .header-container {
        width: 99%;
    }
    main {
        width: 99%;
    }



    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }
