/* 
========================================================================== 
Mobile-first Design Layout for Project 9 Treehouse "Capstone Portfolio"
========================================================================== 
*/

/*===========================
Color Palette 
space cadet 21295c (dark indigo)
light gray cccccc (main background)
blue saphire 065a82 (darker accent: list item)
cg blue 1c7293 (lighter accent: [header, nav, footer BG], list item)
alice blue e6ebef (lighter than the grey)
white (accent: text)


Pink Theme (girl at desk image)
soft pink #FAE7F0
purple #AF9DF8
bright pink hair #FC96E3
blue accent #0029FA

===========================*/


/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}



body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;

}



/* utilities */

h1 {
    color: #FC96E3;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    color: #FC96E3;
    padding: 5px;
}

p {
    padding: 5px;
    margin: 2px;
}

/* links */
a,
a:visited {
    color: #FC96E3;

}

a:hover {
    color: white;
    background-color: rgba(133, 204, 232, 0.4);
    border-radius: 5px;
    text-decoration: none;
}

nav a,
nav a:visited, 
nav a:hover {
    color: #FC96E3;
    text-decoration: none;
    padding-left: 15px;

}

/* offset navigation target */



a.offset {
    display: block;
    position: relative;
    top: -400px;
    visibility: hidden;
}


.right-align {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

/* Image Resize */

.icon {
    height: 4rem;
    width: auto;
    cursor: zoom-in;
}

.project-img {
    width: 200px;
    height: auto;
}





/* Grid Stuff */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px 70px auto;
    grid-template-areas: "head"
                         "nav"
                         "main"
                         "footer";

}

header {
    grid-area: head;
    background-color: #FAE7F0;
    color: #FC96E3;
    
}

nav {
    grid-area: nav;
    background-color: #FAE7F0;
    color: #FC96E3;
    text-align: right;
    padding-right: 15px;
    
}



/*==================================
    Main Content
 ==================================*/

main {
    grid-area: main;
    background-color: white;
    color: #21295c;
}

#welcome p {
    color: white;
   

}

.jumbotron {
    max-height: 300px;
    /* background: url(../img/banner.jpg); */
    background-color: #8AC7DC;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
    max-width: 100%;
    overflow-x: hidden;

}



.welcome-images {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.mid {
    align-self: center;
}
.center-icon {
    margin: 15px;
}



#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0.5rem;
}

#bio,
#skills,
#contact {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    
}

/* Skills */


ul.skills {
    padding: 0;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #AF9DF8;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }

.skills li:nth-child(odd) {
    background: #0029FA;
  }



footer {
    grid-area: footer;
    background-color: #FAE7F0;
    color: #FC96E3;
    height: 50px;
    margin-top: auto;
}


/* 
========================================================================== 
Media Queries for Tablet and Desktop views
========================================================================== 
*/

/* --------------------------- 700px+ Wide Screens */

@media screen and (min-width: 700px){

    .jumbotron h1 {
        margin: 0;
        max-width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        
        font-size: 3rem;
        padding-top: 5px;
    }
    
    .jumbotron p {
        padding-top: 30px;
        margin-top: 20px;
        font-size: 1.5rem;
    }


    .card {
        width: calc(50% - 20px); 
    }

    .project-img {
        width: 350px;
        height: auto;
    }

}


/* --------------------------- 1024px+ Wide Screens */

@media screen and (min-width: 1024px){

    .grid-container {
        display: grid;
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 30px 1fr; /*header is 30px, rest is 1fr */
        grid-template-areas: "head nav"
                             "main main"
                             "footer footer";

    }

    .header-container {
        width: 100%;
        overflow-x: hidden;
    }
    main {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }



    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .jumbotron {
        height: 500px;
        
    }

    .card {
        width: calc(50% - 20px);
        height: auto;
        margin: 20px;
        text-align: center;

    }
    .project-img {
        width: 400px;
        height: auto;
        box-shadow: 5px 5px #FC96E3;
        margin: 0 auto;
    }

    .pair {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        padding-top: 20px;
    }
}
