/* 
========================================================================== 
Mobile-first Design Layout for Project 9 Treehouse "Capstone Portfolio"
========================================================================== 
*/

/*===========================
Color Palette 
space cadet 21295c (dark indigo)
light gray cccccc (main background)
blue saphire 065a82 (darker accent: list item)
cg blue 1c7293 (lighter accent: [header, nav, footer BG], list item)
alice blue e6ebef (lighter than the grey)
white (accent: text)

===========================*/


/* Universal Attributes */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  

}



body {
    height: 100vh;
    line-height: 1.5;
    font-family: 'Lato', sans-serif;

}



/* utilities */

h1 {
    color: white;
}

h2 {
    font-family: 'Exo 2', sans-serif;
    color: #21295c;
    padding: 5px;
}

p {
    padding: 5px;
    margin: 2px;
}

/* links */
a,
a:visited {
    color: #065a82;

}

a:hover {
    color: white;
    background-color: rgba(28, 114, 147, 0.4);
    border-radius: 5px;
    text-decoration: none;
}

nav a,
nav a:visited, 
nav a:hover {
    color: white;
    text-decoration: none;
}

/* offset navigation target */



a.offset {
    display: block;
    position: relative;
    top: -350px;
    visibility: hidden;
}


.right-align {
    text-align: right;
    margin-right: 10px;
    margin-top: 10px;
}

/* Image Resize */

.icon {
    height: 4rem;
    width: auto;
    cursor: zoom-in;
}

.project-img {
    width: 200px;
    height: auto;
}


/* ? skew slope to the right */

.skew-r{
    transform: skew(10deg) rotate(2deg);
  
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}

/* skew slope to the left */
.skew-l{
    transform: skew(-10deg) rotate(-2deg);
    width: 100%;
    margin-left: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
}


/* Grid Stuff */

.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20px 70px auto;
    grid-template-areas: "head"
                         "nav"
                         "main"
                         "footer";

}

header {
    grid-area: head;
    background-color: #1c7293;
    color: white;
    
}

nav {
    grid-area: nav;
    background-color: #1c7293;
    color: white;
}

/*==================================
    Main Content
 ==================================*/

main {
    grid-area: main;
    background-color: #e6ebef;
    color: #21295c;
}

#welcome {
   

}

.jumbotron {
    background-image: linear-gradient(#1c7293, #e6ebef);
    margin-top: 0;
    text-align: center;

}

.jumbotron h1 {
    margin: 0;
}

.welcome-images {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.mid {
    align-self: center;
}
.center-icon {
    margin: 15px;
}

#portfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-width: 100%;
    padding: 0.5rem;
}

#bio,
#skills,
#contact {
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    
}

/* Skills */


ul.skills {
    padding: 0;
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
  }
  
  .skills li {
    border-radius: 6px;
    display: inline-block;
    background: #065a82;
    color: white;
    padding: 5px 10px;
    margin: 2px;
  }

.skills li:nth-child(odd) {
    background: #21295c;
  }



footer {
    grid-area: footer;
    background-color: #1c7293;
    color: white;
    height: 50px;
    margin-top: auto;
}


/* 
========================================================================== 
Media Queries for Tablet and Desktop views
========================================================================== 
*/

/* --------------------------- 700px+ Wide Screens */

@media screen and (min-width: 700px){
    .card {
        width: calc(50% - 20px); 
    }

    .project-img {
        width: 350px;
        height: auto;
    }

}


/* --------------------------- 1024px+ Wide Screens */

@media screen and (min-width: 1024px){

    .grid-container {
        display: grid;
        grid-template-columns: 80px 1fr; /* nav is 80px, main is 1fr */
        grid-template-rows: 30px 1fr; /*header is 30px, rest is 1fr */
        grid-template-areas: "head head"
                             "nav main"
                             "footer footer";

    }

    .header-container {
        width: 100%;
        overflow-x: hidden;
    }
    main {
        width: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
    }



    nav {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .jumbotron {
        height: 400px;
    }

    .card {
        width: calc(50% - 20px);
        height: auto;
        margin: 20px;
        text-align: center;

    }
    .project-img {
        width: 400px;
        height: auto;
        box-shadow: 5px 5px #1c7293;
        margin: 0 auto;
    }
}
